body {
	background-color: #b8b8b8;
}

section {
	margin-top: 4px;
	margin-bottom: 4px;
	padding-left: 4px;
	padding-right: 2em;
}

* {
	margin: 40;
	padding: 40;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}

h3 {
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 1px;
}

.heading h1 {
    text-align: center;
  }

.heading h1 span {
    font-weight: 300;
    word-spacing: 2px;
    line-height: 2em;
    color: rgba(0, 0, 0, 0.5);
  }

.heading h1:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 1px;
    content: "";
    left: 50%;
    margin-left: 30px;
    background-color: #777;
  }

.greeting .title {
	display: flex;
}

.greeting .title input {
	margin-left: 0.5rem;
	flex: 1 1 0%;
	min-width: 0;
}

.greeting .title,
.greeting .title input {
	color: #000000;
	font-size: 1.5rem;
	font-weight: 700;
}

.task input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #000000;
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: rgb(0, 0, 0, 0.1);
	margin-bottom: 1.5rem;
}

.task .options {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}

.task .options label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.5rem;
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16px;
	height: 16px;
	border-radius: 0%;
	border: 2px solid color(#4f4f4f);
	box-shadow: 0px 0px 4px rgb(0, 13, 255);
}

.bubble.Low {
	border-color: black;
	box-shadow: 0px 0px 4px rgb(255, 153, 0);
}

.bubble::after {
	content: "";
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: #4f4f4f;
	box-shadow: 0px 0px 4px rgb(0, 13, 255);
	border-radius: 0%;
	transition: 0.2s ease-in-out;
}

.bubble.Low::after {
	background-color: black;
	box-shadow: 0px 0px 4px rgb(255, 153, 0);
}


input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

.task .options label div {
	color: #000000;
	font-size: 1.125rem;
	margin-top: 1rem;
}

.task input[type="submit"] {
	display: block;
	width: 100%;
	font-size: 20px;
	padding: 2rem 6rem;
	color: #FFF;
	background-color: #b9603c;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.task input[type="submit"]:hover {
	opacity: 0.75;
}

.todo-list .list {
	margin: 1rem 0;
} 

.todo-list .todo-item {
	display: flex;
	align-items: center;
	background-color: #FFF;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.1);
	margin-bottom: 1rem;
}

.todo-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.todo-item .todo-content {
	flex: 1 1 0%;
}

.todo-item .todo-content input {
	color: #000000;
	font-size: 1.125rem;
}

.todo-item .actions {
	display: flex;
	align-items: center;
}

.todo-item .actions button {
	display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
	opacity: 0.75;
}

.todo-item .actions .edit {
	margin-right: 0.5rem;
	background-color: #b9603c;
}

.todo-item .actions .delete {
	background-color: #b9603c;
}

.todo-item.done .todo-content input {
	text-decoration: line-through;
	color: #0a0a0a;
}